# Data
data/
*.nii
*.nii.gz

# Pretrained weights (large)
pretrained/

# Outputs
outputs/
models/checkpoints/
logs/

# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env

# OS
.DS_Store
Thumbs.db
.vscode/
.idea/
node_modules/
frontend/node_modules/
